GITHUB_TOKEN=your_github_personal_access_token_here
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/codeSarthi?retryWrites=true&w=majority
# N8N_WEBHOOK_URL=https://your-n8n-instance/webhook-test/codesarthi-embeddings
N8N_WEBHOOK_URL=https://your-n8n-instance/webhook/codesarthi-embeddings